<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>Notes</h2>
    <ul class="list-unstyled" id="notes" data-sortable-list="<%= positions_notes_path %>">
      <%= render @notes %>
    </ul>
    <%= render 'form' %>
  </div>
</div>
